* {
    background-color:#fffaee;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* border: red dashed 1px;  */
}

img {
    max-width: 100%;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: black solid 2px;
}

ol {
    margin-top: 0;
    margin-left:-2.5em;
}

.container .profile-picture {
    max-width: 200px;
    margin: 0 auto;
}

.title {
    text-align: center;
    text-decoration: underline;
}

/* Home Page Menu Items */
.home-menu ol{
    display: block;
    margin-left: -2.5em;
    text-align: center;
}

.home-menu li {
    display:inline-block;
    text-align: center;
    margin: 0 2em;
    padding-bottom: 1em;
}

.home-menu img {
    display:inline-block;
    width: 20em;
    height: 15em;
    object-fit: cover;
}

/* Navigation Buttons */
.navi {
    display: block;
    text-align: center;
    text-decoration-color: white;
    margin-left: auto;
    margin-right: auto;
}

.navi.socials {
    font-size: 1em;
    background-color: black;
    color: white;
    text-decoration: none;
    padding:0 auto;
    font-weight: bold;
}

.navi > a {
    display:inline;
    background-color: #ecead4;
    color: black;
    padding: 3px;
    border: solid black 1px;
    text-decoration: none;
    box-shadow: 1px 1px gray;
    /* to create a "button" effect */
}

.navi > a:active { 
    box-shadow: none;
    margin-top: 2px;
    margin-left: 1px;
    /* to create a "button clicked" effect */
}

.ingredients-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
}

.ingredients-container > ul {
    list-style-type: none;
}

.ingredients-group {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: max-content;
    /* border: 1px dashed green; */
    display: block;
    margin:10px;
    /* height: max-content; */
}

.ingredients-group > * {
    padding: 0 1em;
}

.ingredients-header {
    /* border: 1px dashed red; */
    display: flex;
    flex-direction: column;
    flex-basis: fit-content;
}