* {
    background-color:#fffaee;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* border: red solid 1px;  */
}

img {
    max-width: 100%;
    max-height: 600px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: black solid 2px;
}

.container {
    margin:auto;
    justify-content: center;
    max-width: max-content;
}

.container .profile-picture {
    max-width: 240px;
}

.menu-items {
    max-width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    text-decoration: underline;
}

.navi {
    display: block;
    text-align: center;
    text-decoration-color: white;
    margin-left: auto;
    margin-right: auto;
}

.navi > a {
    display:inline;
    background-color: #ecead4;
    color: black;
    padding: 3px;
    border: solid black 1px;
    text-decoration: none;
    box-shadow: 1px 1px gray;
    /* to create a "button" effect */
}

.navi > a:active { 
    box-shadow: none;
    margin-top: 2px;
    margin-left: 1px;
    /* to create a "button clicked" effect */
}