* {
    background-color:#fffaee;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    max-height: 300px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: black solid 2px;
}

.container {
    margin:auto;
    justify-content: center;
    max-width: fit-content;
}

.container .profile-picture {
    max-width: 240px;
}

.menu-items {
    max-width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    text-decoration: underline;
}

.navi {
    display: block;
    text-align: center;
    text-decoration-color: white;
    margin-left: auto;
    margin-right: auto;
}